.event-preview-con{
display:flex;
width:30vw;
height:30vh;
outline:2px solid #000000;
flex-direction:column;
border-radius:5px;

}

.event-preview-header-element{
display:flex;
width:100%;
height:15%;
flex-direction:row;
align-items:center;
background:#FF6F3C;


}

#event-preview-heading{
font-size:28px;
font-weight:bold;
color:white;
margin-left:20px;

}

.event-preview-tag-row-con{
display:flex;
width:100%;
height:15%;
flex-direction:column;
gap:20px;

}

.tag-row-heading{
display:flex;
width:100%;
height:25%;
font-size:24px;
color:black;
margin-left:20px;

}

.event-preview-tag-element-con{
display:flex;
width:100%;
height:75%;
gap:10px;
margin-left:20px;

}

.event-preview-tag-element{
display:flex;
background:#262626;
width:8%;
height:100%;
border-radius:10px;
color:white;

}

.event-description-con{
display:flex;
height:70%;
width:100%;
flex-direction:column;


}

.event-description-heading-row{
display:flex;
width:100%;
height:15%;


}

#event-description-heading{
color:black;
font-weight:bold;
margin-left:20px;
font-size:26px;

}

.event-description-info-row{
display:flex;
width:95%;
height:60%;
flex-direction:column;



}

#event-description-text{
word-break: break-all;
color:black;
font-size:18px;
font-weight:400;
margin-left:20px;


}

.event-preview-btn-row{
display:flex;
align-items:center;
width:60%;
height:25%;
flex-direction:row;



}

.event-preview-btn{
display:flex;
justify-content:center;
align-items:center;
border-radius:3px;
min-width:15%;
max-width:fit-content;
height:70%;
color:white;
font-weight:bold;
background:#1A2B4C;
margin-left:20px;
padding:15px;
}