.event-page {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;


}

.event-page-con {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
}

.event-page-statistics-con {
    display: flex;
    width: 100vw;
    height: 300px;
    flex-shrink: 0;
    flex-direction: row;
    background: #FF6F3C;
    align-items: center;
    gap: 10%;


}

.event-created-by-header {
    display: flex;
    align-items: center;
    background: #FF6F3C;
    width: 100%;
    height: 10%;
    color: white;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding-bottom: 15px;

}

.event-created-by-con {
    display: flex;
    width: 20%;
    height: 80%;
    margin-left: 5%;
    flex-direction: column;


}

.event-created-by-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #FFFFFF;



}

.event-created-by-heading-row {
    display: flex;
    width: 100%;
    height: 15%;
    padding-bottom: 30px;
    padding-left: 5%;

}

#event-group-heading {
    font-size: clamp(1.2rem, 1.7vw, 1.7rem);
    color: black;
    font-weight: bold;


}

.event-member-row {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;


}

.event-group-member-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    color: black;
    padding-left: 5%;


}

.event-group-member-item-underline {
    width: 40%;
    height: 5px;
    background: #FF6F3C;
    flex-shrink: 0;


}

.event-group-created-by-row-divider {
    display: flex;
    width: 100%;
    height: 10%;


}

.event-group-creater-row {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;



}

.event-creator-item {
    display: flex;
    width: 8%;
    height: 60%;
    border-radius: 50px;
    background: rgb(129, 131, 129);


}

.event-creator-header {
    color: black;

}

.event-created-by-group-btn-row {
    display: flex;
    width: 100%;
    height: 25%;
    flex-direction: row;

}

.event-created-by-group-btn {
    display: flex;
    width: 100%;
    height: 100%;
    background: #1A2B4C;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;

}

.event-statistics-tags-con {
    display: flex;
    width: 25%;
    height: 70%;
    flex-direction: column;



}

.event-statistics-tags-header {
    display: flex;
    width: 100%;
    height: 20%;
    color: white;
    font-weight: bold;


}

.event-statistics-tag-content {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;

}

.event-statistics-tag-content-row {
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: row;
    gap: 3px;


}

.event-statistics-tag-item {
    display: flex;
    align-items: center;
    color: white;
    width: 15%;
    height: 60%;
    border-radius: 5px;
    background: #262626;




}

.event-main-content-con {
    display: flex;
    width: 70%;
    height: 1000px;
    background: #FFFFFF;
    flex-direction: column;
    flex: 1;

}

.event-content-con2 {
    display: flex;
    width: 100%;
    min-height: 1000px;
    flex-direction: row;
    background:#FFFFFF;
    flex: 1;



}

.event-description-heading {
    display: flex;
    width: 100%;
    height: 5%;
    color: black;
    font-weight: bold;
    font-size: clamp(1.3rem, 1.6vw, 1.6rem);
    align-items: center;
    padding-top: 50px;



}

#event-page-description-heading {
    display: flex;
    color: black;
    font-weight: bold;
    font-size: clamp(1.3rem, 1.6vw, 1.6rem);
    padding-left: 7.5%;

}

.event-description-text-con {
    display: flex;
    width: 90%;
    height: 25%;
    flex-direction: column;
    word-break: break-all;
    padding-left: 7.5%;
    padding-top: 20px;


}

.event-description-text-con p {
    color: black;

}

.event-friend-component-con {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    padding-left: 7.5%;
    padding-top: 40px;
    align-items: flex-start;
    gap: 60px;


}

.event-side-content-con {
    display: flex;
    width: 30%;
    height: 1000px;
    flex-direction: column;



}

.event-practical-info-con {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 400px;
    flex-direction: column;
    background: #1A2B4C;
    padding: 30px;
    box-sizing: border-box;


}

.event-practical-info-columns-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}

.event-practical-info-heading-row {
    display: flex;
    width: 100%;
    height: 10%;
    color: white;
    font-weight: bold;
    font-size: clamp(1rem, 1.6vw, 1.6rem);
    align-items: center;
    padding-left: 7.5%;
    margin-top: 5%;



}

.event-practical-info-content-column1 {
    display: flex;
    width: 50%;
    height: auto;
    color: white;
    flex-direction: column;
    padding-left: 7.5%;
    padding-top: 20px;



}

.event-practical-info-content-column2 {
    display: flex;
    width: 50%;
    height: auto;
    color: white;
    flex-direction: column;
    padding-left: 7.5%;
    padding-top: 20px;

}

.event-practical-info-calender-con {
    display: flex;
    width: 100%;
    height: auto;
    color: white;
    gap: 20px;
    flex-wrap: wrap;



}

.event-practical-info-calender-heading {
    display: flex;
    color: white;
    font-size: clamp(1rem, 1.4vw, 1.4rem);
    font-weight: bold;
    padding: 0px;

}

.event-practical-info-calender-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    flex-direction: column;
    background: #1A2B4C;
    border-radius: 5px;
    outline: 3px black solid;
    font-size: 12px;
    padding: 5px;


}

.event-practical-info-fees-con {
    display: flex;
    width: 100%;
    height: auto;
    color: white;
    gap: 20px;
    flex-direction: column;
    padding-top: 20px;


}

.event-practical-info-fees-heading {
    display: flex;
    color: white;
    font-size: clamp(1rem, 1.4vw, 1.4rem);
    font-weight: bold;
    height: 15%;
    


}

.event-practical-info-fees-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: white;


}

.event-practical-info-location-heading {
    display: flex;
    color: white;
    font-size: clamp(1rem, 1.4vw, 1.4rem);
    font-weight: bold;
    height: 15%;

}

.event-practical-info-location-map-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 220px;
    overflow: hidden
}