.find-event-nær-page {
    display: flex;
    flex-direction: column;


}

.find-event-nær-con {
    display: flex;
    width: 100vw;
    height: 100vh;



}

.nær-event-con {
    position: relative;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    flex: 1;
    

}

.nær-event-søgefelt-con {
    display: flex;
    width: 35vw;
    height: 20vh;
    flex-direction:row;
    z-index:1000;
    gap:50px;
    position:absolute;


}

.search-input-con{
display:flex;
width:40%;
height:100%;
flex-direction:column;
z-index:1000;
gap:10px;

}

.nær-event-search-input {
    display: flex;
    background: #FFFFFF;
    color: #000000;
    width: 13vw;
    height: 3vh;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    margin-top: 10px;
    margin-left: 50px;

}

.nær-event-budget-search-input {
    display: flex;
    background: #FFFFFF;
    color: #000000;
    width: 10vw;
    height: 3vh;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    margin-left: 50px;

}

.nær-event-btn-con{
display:flex;
flex-direction:column;
width:10vw;
height:20vh;
z-index:1000;
gap:10px;
margin-top:10px;
font-size:14px;


}

#nær-event-search-btn {
    display: flex;
    background: #1A2B4C;
    color: #ffffff;
    min-width:5vw;
    max-width:10vw;
    height: 3vh;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    justify-content:center;
    align-items:center;

}