/* CSS fil for komponenten der fremviser lidt info om en gruppe*/
.group-showcase-con{
display:flex;
width:30vw;
height:30vh;
outline:2px solid #000000;
flex-direction:row;

}



.group-showcase-img-box{
display:flex;
height:100%;
width:30%;
background:#A09F9F;



}

.group-showcase-part2-con{
display:flex;
width:75%;
height:100%;
background:#eeeeee;
padding-left:20px;
flex-direction:column;

}

.group-showcase-textbox{
display:flex;
width:90%;
height:60%;
flex-direction:column;
color:#000000;


}

.group-showcase-textbox h2{
font-size:20px;
font-weight:500;


}

.group-showcase-member-row{
display:flex;
width:100%;
height:15%;
flex-direction:row;
justify-content: space-between;
align-items:flex-end;


}

.group-showcase-member-info{
display:flex;
width:40%;
height:100%;
color:#000000;
padding-left:10px;
flex-direction:column;

}

#group-showcase-member-line{
display:flex;
color:black;
width:80%;
height:3px;

}

.group-showcase-tag-row{
display:flex;
width:100%;
height:10%;
flex-direction:row;
flex-wrap:wrap;
gap:15px;
row-gap:25px;
padding-left:10px;

}

.group-showcase-tag-row-heading{
display:flex;
height:30%;
width:100%;
color:#000000;
font-size:20px;


}

.group-showcase-tag-btn{
display:flex;
justify-content:center;
align-items:center;
width:10%;
height:50%;
background:black;
color:white;
border-radius:5px;


}

.group-showcase-btn-row{
  display:flex;
  height:10%;
  width:100%;
  flex-direction:row;
  margin-top: auto; 
  justify-content:flex-end;
  gap:15px;


}

.group-showcase-btn1{
display:flex;
justify-content:center;
align-items:center;
background:#1A2B4C;
width:25%;
color:white;
font-weight:400;
font-size:16px;
white-space: nowrap;
    
}

.group-showcase-btn2{
display:flex;
justify-content:center;
align-items:center;
background:#344972;
width:25%;
color:white;
font-weight:400;
font-size:16px;
white-space: nowrap;
}